body 
{
    font-family: 'Montserrat', sans-serif;
}

header 
{
    background-color: #BBBBBB;    
    padding: 20px;
}

.caixa 
{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav 
{
    position: absolute;
    top: 110px;
    right: 0;

}

nav li 
{
    display: inline;
    margin: 0 0 0 15px;
}

nav a 
{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover 
{
    color: #C78C19;
    text-decoration: underline;
}

.produtos 
{
    width: 960px;
    margin: auto;    
    padding: 70px 0;
}

.produtos li 
{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.2%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}

.produtos li:hover 
{
    border-color: #C78C19;    
    font-size: 30px;
}

.produtos li:active 
{
    border-color: #088C19;
}

.produtos li:hover h2 
{
    font-size: 30px;
}

.produtos h2 
{
    font-size: 25px;    
    font-weight: bold;
}

.produto-descricao 
{
    font-size: 18px;
}

.produto-preco 
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
}

footer 
{
    text-align: center;
    background: url("bg.jpg");
    padding: 30px 0;
}


.copyright 
{
    color: #BBBBBB;
    font-size: 13px;
    margin: 20px 0 0;
}

main 
{

}

form 
{    margin: 40px 80px;
}

form label,
form legend 
{
    display: block;
    font-size: 20px;
    margin: 10px 20px;

}

.input-padrao 
{
    display: block;
    margin: 20px;
    padding: 10px 20px;    
    width: 40%;
}

.checkbox 
{
    margin: 40px 0px;
}

.enviar 
{
    width: 40%;
    margin: 20px;
    padding: 10px 20px;
    background: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;    
    cursor: pointer;
}

.enviar:hover 
{
    background: green;    
    transform: scale(1.1);
}

table 
{
    margin: 80px;
}

thead 
{
    background: #3b3b3b;
    color: white;
    font-weight: bold;
}

td,
th 
{
    border: 1px solid #000000;
    padding: 20px 80px;
    font-size: 20px;
    margin: 10px 20px;


}




/*css da pagina inicial*/


.banner 
{
    width: 100%;
}

.titulo-centralizado 
{
    text-align: center;
    font-size: 2em;
    margin: 0 0 2em;    
    clear: left;
    
}

.principal 
{
    padding: 2em 0;
    background: #FFFFFF;
    width: 940px;    
    margin: 0 auto;
    
}

.principal p 
{
    margin: 0 0 1em;
}

.principal strong 
{
    font-weight: bold;
}

.principal em 
{
    font-style: italic;
}

.utensilios 
{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}


.mapa 
{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p 
{
    padding: 1em 0;
    text-align: center;
}

.mapa-conteudo 
{
    margin: 0 0 2em;
    text-align: center;
    width: 940px;
    margin: 0 auto;
}

.beneficios 
{
    padding: 3em 0;    
    background: #888888;
}

.conteudo-beneficios 
{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios 
{
    width: 40%;
    display: inline-block;
    vertical-align: top;    
    line-height: 2em;
}

.imagem-beneficios 
{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;

}

.imagem-beneficios:hover
{
    opacity: 0.3;
}

.itens 
{
	line-height: 1.5;
}

.itens:first-child 
{   font-weight: bold;
}

.itens:before 
{    content: "✓";
}

.video 
{
    width: 560px;
    padding: 3em 0;
    margin: auto;
    
}

@media screen and (max-width: 480px) 
{
    .titulo-centralizado {
        text-align: center;
        margin: 0em 1em 1em 1em;
    }
    
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
    width: auto;
    margin: 2em;
}
    h1 {
        width: auto;
        text-align: center;
       
    }

    nav {
        position:static;
        text-align: auto;
        padding: 15%;
    
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }

}
 

/*@media página "Produtos"*/

@media screen and (max-width: 480px) {
    .produtos, .produtos li, .produtos h2, .produto-descricao, .produto-preco  {
    width:auto;
    margin: 1em;    
    padding: auto;

    }
    
}

/*@media página "Contato"*/ 

@media screen and (max-width: 480px) { 
    form label, form legend, td,
    th, thead   {
        width: auto;
       margin: auto;
       padding: 2em 1em 2em 1em;
    }
}



